<article class="{{viewClasses (concat 'traitPresets-' actorTypeIndex) breadcrumbs}} trait-presets">
  <div class="separator-cpt"></div>
  <ul class="list-style-none px-0 my-0">
    {{#each (log traitPresets) as |traitPreset traitPresetIndex|}}
      <li class="pa-1 flex flex-ac flex-jsb relative-section">
        <div class="{{ternary (eq (mod traitPresetIndex 2) 0) 'section-background' 'section-background-alternate'}}"></div>
        <div class="flex-col flex-row flex-ac">
          <span class="section-secondary-title-cpt flex-col">{{traitPreset.label}}</span>
        </div>
        <div class="flex-col flex-row flex-ac">
          <div class="flex-col px-0">
            <button class="btn btn-icon btn-icon-plain-cpt duplicate-item" data-path="{{concat ../actorTypeIndex '.traitSets'}}" data-id="{{traitSet.id}}" type="button">
              <i class="fa fa-clone"></i>
            </button>
          </div>
          <div class="flex-col px-0">
            <button class="view-change btn btn-icon btn-icon-plain-cpt" data-name="{{traitSet.label}}" data-to="traitSet-{{../actorTypeIndex}}-{{traitPresetIndex}}" type="button">
              <i class="fa fa-edit ma-0"></i>
            </button>
          </div>
          <div>
            {{ traitPreset.description }}
          </div>
        </div>
        
      </li>
    {{/each}}
  </ul>
</article>
